doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(class="header-image" src='https://www.kxnet.com/wp-content/uploads/sites/16/2019/11/Whats-for-Dinner-Logo-2.png')
    block content
